@import "tailwindcss";

@theme {
  --color-dark: #131313;
  --color-dark-surface: #1c1b1b;
  --color-primary: #c0c1ff;
  --color-accent: #4b4dd8;
  --color-text-muted: #c7c4d8;
  --color-text-light: #e5e2e1;
  --color-error: #93000a;
}

/* Responsive fix */
body {
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Toast animation */
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

