@import "tailwindcss";

@theme {
  /* Font Family */
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;

  /* Custom Palette dari HTML Anda */
  --color-primary: #0060ac;
  --color-primary-dim: #005397;
  --color-primary-container: #d4e3ff;
  --color-primary-fixed-dim: #bcd6ff;

  --color-surface: #f8f9fa;
  --color-surface-container-low: #f1f4f6;
  --color-surface-container-high: #e3e9ec;
  --color-surface-container-lowest: #ffffff;

  --color-on-primary: #f6f7ff;
  --color-on-primary-fixed: #004076;
  --color-on-surface: #2b3437;
  --color-on-surface-variant: #586064;
}

/* Custom Utilities */
@utility glass-nav {
  background: rgba(248, 249, 250, 0.8);
  backdrop-filter: blur(20px);
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" 0,
    "opsz" 24;
}
